/* Design Tenets */
:root {
  --future: 'Chakra Petch', sans-serif;
  --heading: 'Chakra Petch', sans-serif;
  --paragraph: 'Be Vietnam Pro', sans-serif;
  --mainBlue: #7bcfd1;
}

#app {
  font-family: var(--paragraph);
  background-color: var(--mainBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Adjusted from height: 100vh; */
  padding: 32px 16px; /* Adjusted to add space on top and bottom */
  position: relative;
  color: #fff;
}

header {
  font-family: var(--future);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem; /* Adjusted margin for mobile */
}

#logo {
  width: 100%; /* Adjust for responsive design */
  max-width: 150px;
  margin-bottom: 1rem;
}

h1 {
  font-family: var(--heading);
  font-size: 1.8rem; /* Reduced font size for mobile */
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem; /* Reduced font size for mobile */
  margin-top: 0.5rem;
}

section {
  padding: 1rem;
  margin-bottom: 16px; /* Added margin to space out sections */
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
